<footer class="footer-container" ng-controller="FooterCtrl">
  <div class="container">
    <ul class="list-unstyled list-inline pull-right">
      <li ui-sref-active="active"><a href="#" ui-sref="legal-info">Legal Information</a></li>
      <li ui-sref-active="active"><a href="#" ui-sref="terms-conditions">Terms & Conditions</a></li>
      <li ui-sref-active="active"><a href="#" ui-sref="help">Help</a></li>
      <li ui-sref-active="active"><a href="#" ui-sref="contact">Contact</a></li>
    </ul>
  </div>
</footer>
