<div class="header-container">
  <nav class="navbar navbar-default ">
    <div class="container">


      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">
          <img src="assets/images/meteo-logo.png" alt=""/>
          MeteoGroup <span>Product Name</span>
        </a>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <div class="top-part">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="#">
              <span class="glyphicon glyphicon-globe"></span>
              English (<span class="change-lang">change</span>)</a>
            </li>
            <li><a href="#">MeteoGroup Customer Name</a></li>
            <li><a href="#">Log out</a></li>
          </ul>
        </div>

        <div class="bottom-part">
          <ul class="nav navbar-nav left-menu" >
            <li class="active"><a href="#">Home</a></li>
            <li><a href="#">Navigation</a></li>
            <li><a href="#">Navigation</a></li>
            <li><a href="#">Navigation</a></li>
          </ul>

        </div>




      </div><!-- /.navbar-collapse -->


    </div><!-- /.container-->
  </nav>
</div>
