@color-ice-blue: #00b0CA;
@color-deep-blue: #102840;

.login-container{
  color: #fff;

  .container{
    outline: 1px solid red;
  }

  .login-box{
    margin: 0 auto;
    width: 700px;
    background: @color-deep-blue;
    padding: 30px 120px;

    h3{
      color: @color-ice-blue;
    }

    .logo-section{
      img{
        margin-left: -75px;
        width: 100%;
      }
    }

  }
}
